<%- include('./partials/header'); %> <%- include('./partials/navbar'); %>
<body>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 90vh"
  >
    <div class="d-flex flex-column">
      <h1 style="font-size: 200px; font-weight: 100">HI</h1>
      <a href="/seasons" class="btn btn-success">Go to seasons</a>
    </div>
  </div>
</body>
<%- include('./partials/footer'); %>
